.hdg {
  text-align: center;
}

.timer {
  font-size: 4rem;
  width: 350px;
}

.btnList {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.btn {
  min-width: 90px;
  background-color: #e9e6e6;
}
